* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/originals/74/b2/e2/74b2e28c1e3102087beb458a7535d6dd.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#airplane-div {
    display: flex;
    flood-color: aliceblue;
    align-items: center;
}

#airplane-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px ;
}

#button-container{
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }